{% extends 'about_html.html' %}


{% block basic %}
<div class="data">
    <p><br />
        Cascading style sheets (CSS) were the World Wide Web Consortium's answer to the development,<br />
        in the mid-1990s, of a number of presentational HTML elements that threatened to blur the distinction between<br />
        the appearance of a document, i.e. what the document looks like, and its underlying structure and meaning.<br />
<br />
            Unfortunately, it would be over three years before any of the major web browsers<br />
            managed to implement the bulk of the CSS specification.Meanwhile CSS 2, essentially a superset<br />
            of CSS 1, was released in 1998. <br />
<br />
            CSS 2.1 fixed the errors in the CSS 2 specification and removed some of the<br />
            feature that were either poorly supported or not supported at all by web<br />
            browsers.<br />
<br />
            WC3 had obviously learned from their experiences with CSS 2 that there were no<br />
        guarantees that browser vendors would adopt new<br />
            CSS features.<br />
<br />
            Unlike previous specifications, CSS 3 is not a single monolithic specification. It is published<br />
            as a set of separate documents known as modules. Each module deals with a relatively small subset<br />
            of the overall specification, and either adds new features or refines and extends existing features.<br />
            All additions and enhancements to the specification are written in order to be backward-compatible<br />
            with older versions of CSS.<br />
<br />
<br />
            The adoption of a modular approach has also led to modules being classified according to<br />
            the CSS level to which they apply. For example, most modules currently being developed<br />
            actively or maintained are specified as level 3, because they build on (level 2) features<br />
            defined in the CSS 2.1 specification. Take note however that the designated level of a module<br />
            does not necessarily equate to the WC3 recommendation to which it belongs (or will belong).<br />
<br />
            Work has already begun on CSS level 4, with the same modular approach being adopted. Level 4 modules<br />
            improve on, or extend the functionality of, features defined in level 3 modules. It is probable that<br />
            this approach will continue for the foreseeable future. As new features emerge, they will be refined<br />
            and re-defined over a period of time until they achieve CR status, at which point we should expect to<br />
            see them implemented by the majority of web browsers.<br />
    </p>
</div>
{% endblock %}
