{% extends 'base.html' %}

{% block content %}
<div class="home">
    <p>So you want to learn HTML code <br />
        A computer language to make sites on the world wide web<br />
        A series of small, short codes<br />
        Stands for HyperText Markup Language<br />
        <br />
        HyperText means hyper links<br />
        Connected clicks through pages linked<br />
        Markup is what text tags read<br />
        Determines the type of text it sees<br />
        <br />
        HTML is made up of short codes<br />
        Typed into a text file by the author<br />
        The text file’s saved then viewed through any browser<br />
        The browser reads and translates so it’s readable<br />
        <br />
        So what’s with all these ‘tags’ you’re speaking of?<br />
        They’re words between angled brackets that can allow<br />
        Images, links, tables to show up as you browse<br />
        Cleanly presented so easier to surf around<br />
        <br />
        So here’s how you would make your text bold<br />
        Bracketed B then type your words<br />
        A forward slash to end code<br />
        And now the text is bold as your file loads..</p><br />
    <a href="https://www.youtube.com/watch?v=hHM5EnhH8yQ">(c) Jam Campus</a>
</div>
{% endblock %}