{% extends 'about_html.html' %}


{% block basic %}
<div class="data">
    <p>Django (/ˈdʒæŋɡoʊ/ jang-goh) is a free and open source web application framework, written in Python.<br />
        A web framework is a set of components that helps you to develop websites faster and easier.<br />
<br />
        When you're building a website, you always need a similar set of components:<br />
        a way to handle user authentication (signing up, signing in, signing out),<br />
        a management panel for your website, forms, a way to upload files, etc.<br />
<br />
        Luckily for you, other people long ago noticed that web developers face similar problems when<br />
        building a new site, so they teamed up and created frameworks (Django being one of them)<br />
        that give you ready-made components to use.<br />
<br />
        Frameworks exist to save you from having to reinvent the wheel<br />
        and to help alleviate some of the overhead when you’re building a new site.<br />
    </p>
</div>
{% endblock %}
