{% extends 'base.html' %}

{% block content %}
<div class="poems">
    <h3>The Web</h3>
    <p> Beads of dew capture the light<br />
        on a thread so fine.<br />
        True silk spun with delicate detail<br />
        the web so strong in creation.<br />
        The web a design built to hold fast its catch.<br />
        Sparkles with morning dew in spirals of beauty.<br />
        This web built with intended design<br />
        is a thing of strength and purpose.<br />
        Winds blown from the north, winds blown from the south<br />
        have destroyed this fragile wonder.<br />
        I’ve seen this web before at its best.<br />
        Busy little spider repair your work<br />
        or lose your next catch.<br />
        Your never ending duty you must not shirk.<br />
    </p>
    <a href="https://hellopoetry.com/autumn-phoenix/">(c) Autumn Phoenix</a>
    <p><br /><br /><br /><br /><br /><br /><br /></p>

    <h3>Eyes of Apple Web bye </h3>
    <p><br />Computer Dog-gone it Bow Wow<br />
        Queen of Sheba and Shiba Inu<br />
        The doggy treat paws ring<br />
        my bell ring my bell<br />
        Looking at my eyes of Apple<br />
        will always tell how many<br />
        times you're going to App me<br />
        Please I don't have time for<br />
        games outcrop me or<br />
        do not cop out<br />
        Paws of  digging some<br />
        INC. of Instagram<br />
<br />
        Uncle Sam took my stocks<br />
        and bonds Eyes to my map<br />
        diagram<br />
        Eyes of the Apple rotten mail<br />
        Webby Ms. Debby deleted it<br />
<br />
        One Nighty gown<br />
        Nighting Gale<br />
        He's always doing on eye story<br />
        (Spy Eye) July 4th  cheese and<br />
        ******* male<br />
        Old news her Eyes Ms. Firecracker<br />
        New computer demands<br />
        A silence of the Lamb Hector -<br />
        Eyes at her doorway<br />
        Save my butterfly<br />
        The hacker has too many free time<br />
<br />
        Newsstands on the corner<br />
        Eyes of more crime<br />
        That computer trucker<br />
        Clicks away his I apple<br />
        CD covers<br />
        The computer I crown thee<br />
<br />
        Eyes to the doorway<br />
        CLICKS City Chicks<br />
        Don't want me anyway<br />
<br />
        All Commands<br />
        We know the game<br />
        money hands what<br />
        a commuter<br />
<br />
        The web of the eye’s<br />
        All we see are walnuts<br />
        and apple pies<br />
        The computer always on the rise<br />
        No computer wiz will get fired?<br />
        Like Jeopardy computer high<br />
        investment commodity<br />
        Steve Jobs the winner<br />
        Apples and techno cars<br />
        and comedians<br />
<br />
        Apple web got married gown<br />
        Kleinfeld's wed whites computer<br />
        to curve their enthusiasm<br />
        Jerry Seinfeld made a switch<br />
        Steven Universe webby podcast<br />
        eyes crystal witchcraft<br />
<br />
        Macintosh gold rush floppy disk<br />
        Took  a big money crash risk<br />
<br />
        “New” invention thinking<br />
        All pluses<br />
        Einstein Web Star<br />
        Mass VIP pass<br />
        Too many copycats<br />
        Brownstone coffee<br />
        I pad happy Ireland lads<br />
        Ballerina no sleeping beauty<br />
        Pancake needed to get work done<br />
        Up in the Robin hood Penthouse<br />
        Apple Museum<br />
        International of excellence<br />
        She is so Apple Lisa<br />
        the picture with sad smiles of<br />
        Mona Lisa<br />
<br />
        Apple webby<br />
<br />
        2. SUNDAY bye STAR the news Steve Jobs<br />
        Gave a web forecast Hazy hackers<br />
        Eyes stormy computer crashes<br />
        Computer laptop Cafes surfing<br />
        and best beer hubs reading what<br />
        on the news with Steve Jobs<br />
        Apple I for an Eye<br />
        and his last patent Mac OSX Dock<br />
        was well granted the day of his death<br />
<br />
        The big Apple how he started it.<br />
        The city never Sleep’s.<br />
        I had you fooled?<br />
        On April Fools day 1976 Steve<br />
        Wozniak and Steve Jobs made history<br />
<br />
        So robotic computerized<br />
        Pixar Animation<br />
        studio environment<br />
        where excellence to<br />
        (Robotic Perfection)<br />
        Innovation on an<br />
        impossible mission<br />
<br />
        Hi, Sirprize to your husband bills<br />
        Apple web of desires chills<br />
        Going through a computer maze<br />
        graphically cool sin paired to win<br />
<br />
        Her brain shines eyes still clicking<br />
        Godly animation<br />
<br />
        Now you were rich<br />
        enough to take a vacation<br />
        Eyes went up to the heights<br />
        No more fighting interface and<br />
        Xerox his baby loaded up<br />
        like a Paradox my<br />
        cream cheese lox<br />
        Apple Jubilee coffee<br />
        she could soften anybody<br />
        Until you love the<br />
        Software apple<br />
        the product of computer sky?<br />
        Robin’s Risque eyes<br />
        deeply web- bye<br />
        Tower upload.<br />
<br />
        The best Apple eye reload<br />
        ferocious love suitcase of<br />
        computer products flight<br />
        Megababes Queen we<br />
        are the Champion<br />
        and hardware prowl like a<br />
        Smart crime no yellow tape<br />
        That sophisticated owl moon<br />
        computer ***** cried Wolfie<br />
        She was howling Apple selfie<br />
        eyes red fire has driven<br />
<br />
        Supermoon so blessed<br />
        caress nuanced<br />
        Word’s spat cheetah cat<br />
        Web milk me the succession<br />
        Apple Web goodbye never<br />
        Buying Xerox stocks forever<br />
        Macintosh Floppy Disk<br />
        New world tasks<br />
        “Love” 1/2 Grain “Orient Express”<br />
        she spoke like the speeding link.<br />
<br />
        He got hooked what a<br />
        ((Chrome Apple))<br />
        Uncivilized phone silverized<br />
        or Clone senior citizen or exotic<br />
        black cheetah list<br />
        Hew-let Packard flavor<br />
        couldn’t resist what an enterprise.<br />
<br />
        It’s all in the Apple eyes<br />
<br />
        I Apple of her eyephone we<br />
        need earplugs (Adam and Eve)<br />
        have some nifty spark plugs<br />
        Hub purr personalities<br />
        eye’s “Software”<br />
        Cat’s Eye has nine lives<br />
        of responsibilities<br />
        Love of art computer theater<br />
<br />
        He’s Stocks her sweet candy<br />
        but he had the<br />
        Einstein's eyes such mass and gravity<br />
        a good set of lungs webcomic<br />
<br />
        Her silk detailed blouse<br />
        got caught in his apple martini<br />
        Extra news story read all about it!<br />
        Carriage rider what a glider<br />
        took her baby-computer<br />
        traveler soft hand<br />
        met her Gulliver travel<br />
<br />
        He computerized her love clicks<br />
        Gave her new baby chicks<br />
        more living to do on Google<br />
        I rather have my Moms Kugel<br />
    </p>
    <a href="https://hellopoetry.com/robinHelloRow/">(c) Robin Carretti</a>
    <p><br /><br /><br /><br /><br /><br /><br /></p>


    <h3>WWW</h3>
    <p>Vide World Wide Web at hand,<br />
        Working fast at finger tips,<br />
        Tab on table-top or lap-top,<br />
        Access thru windows tip-top.<br />
<br />
        Wise and wild web-sites host,<br />
        Millions of web-masters hoist.<br />
        Click mouse on cursor left or right,<br />
        Flood of information flows straight.<br />
<br />
        Once called cob-web of clumsy corner,<br />
        Assumed cozy-web of closed circuit,<br />
        World netted by the web of electrons,<br />
        Caught by wonders of wizard web.<br />
<br />
        All pervasive, populous and popular,<br />
        Globalized and glorious in daily life<br />
        Visible to none in bytes of zero and one<br />
        Countless websites encounter the day<br />
<br />
        Spins in speed and spurs out smart<br />
        Dabble or wobble; it helps you to win<br />
        Operate thru internet and intranet<br />
        It co-operates with the systems in net<br />
<br />
        Browse; it arouses what you wish<br />
        Surf; it brings to surface on screen<br />
        Press ‘Enter’ key to control and command<br />
        It churns out cheese you choose.<br />
<br />
        Work from home or humming air craft,<br />
        Mail in or mail out to bail out the day,<br />
        Respond or correspond; it carries brisk,<br />
        Transponder is miles above free from risk<br />
<br />
        Subject any subject to Google search,<br />
        Sure, objects bound abound and surround,<br />
        Web in and out not to be caught in wild web,<br />
        Key-Board is key to board your success.<br />
<br />
        Microsoft hits on monitor like macro shaft,<br />
        Prevail and avail link and avoid day’s void,<br />
        Let us harness aerobics of electrons,<br />
        And witness acrobatics of electronics.<br />
    </p>
    <a href="https://hellopoetry.com/Bhupathi/">(c) Bhupathi Prabhakara Rao</a>
    <p><br /><br /><br /><br /><br /><br /><br /></p>

    <h3>His Web of deceit</h3>
    <p> Into his lacy web of deceit<br />
        She was lured very cleverly<br />
        What started as a fusion of like minds<br />
        Soon took on strong emotional tones<br />
        He led, she followed rather docilely<br />
        Bowing to his every whim and fancy<br />
        They moved into a new neighbourhood<br />
        And life appeared peaceful and happy<br />
        Until some ghosts from his murky past<br />
        Were resurrected without warning<br />
        An abandoned wife and son turned up<br />
        At the doorstep with ample evidence<br />
        That he had been living a life of duplicity<br />
<br />
        Overnight her dreams were shattered<br />
        She wore a pained and very haunted look<br />
        How could she have been conned by him<br />
        In such a complete and perfect manner<br />
        He was a spider who knew the intricacies<br />
        Of spinning a web with attention to detail<br />
        It was so imaginatively done that even she<br />
        A woman of intellect had got ****** in<br />
        To his credit, had he not been recognised<br />
        Accidentally by an old rival visiting the area<br />
        His first wife would have never tracked him<br />
        They would still be living in his web of deceit<br />
        Copyright © 2011 Sandra MARTYRES<br />
        All rights reserved<br />
        Written by<br />
    </p>
    <a href="https://hellopoetry.com/sandra-martyres/">(c) Sandra Martyres</a>
    <p><br /><br /><br /><br /><br /><br /><br /></p>
</div>
{% endblock %}
